<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Title}}</title>
</head>
<body>
<h1>{{.Title}}</h1>
<h2>Hostname: {{.Hostname}}</h2>
<img src="data:image/png;base64,{{.Imagen1}}" alt="Imagen 1">
<img src="data:image/png;base64,{{.Imagen2}}" alt="Imagen 2">
<img src="data:image/png;base64,{{.Imagen3}}" alt="Imagen 3">
<ul>
    <li>Computación en la nube</li>
    <li>Andrés R - Juan G</li>
    <li>2024-2</li>
</ul>
</body>
</html>
